<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/base.css') }}">
    {% endblock %}
</head>
<body>

<!-- Menu de la page -->
{% include 'partials/_nav.html.twig' %}

<!-- Contenu de page -->
{% include 'partials/_alert.html.twig' %}
{% block body %}{% endblock %}

<!-- Pied de la page -->
{% include 'partials/_footer.html.twig' %}

{% block javascripts %}
    <!-- Tailwind css -->
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
            darkMode: 'class',
        };
    </script>

    <!-- Script dark mode -->
    <script>
        const toggle = document.getElementById('toggleDarkMode');
        if (toggle) {
            toggle.addEventListener('click', () => {
                document.documentElement.classList.toggle('dark');
            });
        }
    </script>
{% endblock %}
</body>
</html>
