{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block body %}

	{% if app.user %}
		<div class="p-4 dark:bg-gray-700">
			<div class="flex flex-left m-4 gap-4">
				<h1 class="text-2xl font-bold text-gray-800 dark:text-gray-100">Tous les messages</h1>
				<a href="{{ path('message_add') }}" class="bg-green-600 text-white px-4 py-2 rounded mb-4 hover:bg-green-700">+ Nouveau message</a>
			</div>
			<div class="grid gap-4 md:grid-cols-2 lg:grid-cols-4">
				{% for message in messages %}
					{% include 'partials/_card.html.twig' with {'message': message} %}
				{% else %}
					<p>Aucun message pour le moment.</p>
				{% endfor %}
			</div>
		</div>
	{% else %}
		<div class="w-full m-0 bg-purple-200 h-screen p-6 flex items-center justify-center">
			<div class="p-6 bg-white rounded-lg shadow-lg w-full max-w-2xl">
				<h1 class="text-2xl font-bold my-6">Bienvenue sur Mini-Réseau !</h1>
				<p>Bienvenue sur Mini-Réseau, un petit coin du web pour partager tes idées, tes photos et tes moments du quotidien.</p>
				<p class="mt-2">Publie un message, ajoute une image, échange avec la communauté dans les commentaires…</p>
				<p class="mt-2">Ici, on mise sur la bienveillance, la bonne humeur et le partage.</p>
				<p class="mt-2">✨ Soyez cool, curieux et toujours de bonne ambiance ! ✨</p>
				<p class="mt-6 mb-4">Vous devez être connecté pour voir les messages.</p>
				<a href="{{ path('app_login') }}" class="bg-red-600 rounded p-2 text-gray-100">Se connecter</a>
			</div>
		</div>
	{% endif %}
{% endblock %}
